<form action="<%= deliverable_url(deliverable) %>" method="GET">

  <button
    id="pencil"
    class="btn notes">
    &#9998;
  </button>

  <label
    for="pencil"
    class="subtle">
    view notes
  </label>

</form>

&nbsp;