<div>
  <button
    id="arrow <%= deliverable.id %>"
    class="btn show-form"
    data-id="_<%= deliverable.id %>">
    &#11015;
  </button>

  <label
    for="arrow <%= deliverable.id %>"
    class="subtle">
    add subdeliverable
  </label>
</div>
&nbsp;